.article {
    margin-top: 5%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.article > p > span {
    font-weight: bold;
}
.article > .comments {
    width: 80%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comments_add {
    margin: 5% 0;
}
.comments_add > form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}
.comments_add > form > button {
    margin-top: 2%;
    width: 40%;
}

.comment {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    background: rgba(126, 117, 90, 0.21);
    border-radius: 4px;
    box-shadow: 3px 3px 4px rgba(119, 119, 119, 0.42);
}
.comment > b, p, span {
    padding: 1%;
    padding-left: 3%;
}
.comment > b {
    font-size: 1.2em;
    color:rgba(71, 36, 36, 0.671)
}
.comment > span {
    padding-left: 11%;
    background: rgba(119, 119, 119, 0.05);
    text-indent: 2%;
}
.comment > p:last-child {
    text-align: right;
    padding-right: 4%;
}

.comments_more {
    margin-top: 3%;
    margin-left: calc(50% - 70px);
    box-sizing: border-box;
    width: 130px;
    padding: 5px;
    box-shadow: 2px 2px 4px #777;
    border-radius: 5px;
    background: #2b5393;
    color: white;
    text-align: center;
}
.comments_more:hover {
    cursor: pointer;
}
.comments_filter {
    padding: 1%;
    border-radius: 4px;
    box-shadow: 3px 3px 4px rgba(119, 119, 119, 0.42);
    background: rgba(119, 119, 119, 0.56);
    position: relative;
}
.comments_filter > form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments_filter input {
	display: inline-block;
	margin: 0;
	width: calc(90% - 38px);
	padding: 1%;
	border: none;
	background: #ffffff;
    border-radius: 3px;
}
.comments_filter button {
	display: inline-block;
	border: none;
	margin: 0;
    width: 33px;
    height: 33px;
    margin-left: 5px;
    padding:0;
    cursor: pointer;
    background: none;
}
.comments_filter button > img {
    margin-left: 10px;
}
.comments_filter button:hover {
    transform: scale(1.02);
}

.comments_hints {
    width: calc(100% - 8px);
    background: rgb(159, 159, 159);
    position: absolute;
    top: 43px;
    left: 4px;
}
.comments_hint {
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    border-bottom: 1px #ffffff solid;
    color: #ffffff;
}
.comments_hint:last-child {
    border-bottom: none;
}
.comments_hint:hover {
    cursor: pointer;
    background: rgba(56, 56, 56, 0.47);
}
.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
    
    .article {
        width: 96%;
        margin-top: 10%;
        align-items: center;
    }
    .article > .comments {
        width: 96%;
    }
}
@media only screen and (max-width: 400px) {
    
    .comments_add > form {
        width: 100%;
    }
}